@model BankAccountPC2.ViewModel.ClienteViewModel

@{
    ViewData["Title"] = "Bank Account";
}

<div class="container">
    <h1 class="text-center mb-4">Formulario de Cliente</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-controller="BankAccount" asp-action="Crear" method="post">
                <div class="form-group">
                    <label asp-for="FormCliente.NombreT" class="control-label">Nombre del Titular:</label>
                    <input asp-for="FormCliente.NombreT" class="form-control" />
                </div><br>
                <div class="form-group">
                    <label asp-for="FormCliente.TipoC" class="control-label">Tipo de Cuenta:</label>
                    <input asp-for="FormCliente.TipoC" class="form-control" />
                </div><br>
                <div class="form-group">
                    <label asp-for="FormCliente.SaldoI" class="control-label">Saldo Inicial:</label>
                    <input asp-for="FormCliente.SaldoI" class="form-control">
                </div><br>
                <div class="form-group">
                    <label asp-for="FormCliente.Email" class="control-label">Correo:</label>
                    <input asp-for="FormCliente.Email" class="form-control" type="email" />
                </div><br>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Crear Cuenta</button>
                </div>
            </form>
            <h1>@ViewData["Message"]</h1>

        </div>
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre del Titulas</th>
                            <th>Tipo de CUenta</th>
                            <th>Saldo Inicial</th>
                            <th>Correo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ListCliente != null)
                        {
                            @foreach (var item in Model.ListCliente)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.NombreT)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TipoC)</td>
                                    <td>@Html.DisplayFor(modelItem => item.SaldoI)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>